{% extends 'root.html' %}
{% block content %}
    <div class="container">
        <div class="main-body p-0">
            <div class="inner-wrapper">
                <!-- Inner sidebar -->
                {% include 'components/sidebar.html' %}
                <!-- /Inner sidebar -->
        
                <!-- Inner main -->
                <div class="inner-main">
                    <!-- Inner main header -->
                    <div class="inner-main-header">
                        <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                        <select class="custom-select custom-select-sm w-auto mr-1">
                            <option selected="">Latest</option>
                            <option value="1">Popular</option>
                            <option value="3">Solved</option>
                            <option value="3">Unsolved</option>
                            <option value="3">No Replies Yet</option>
                        </select>
                        <span class="input-icon input-icon-sm ml-auto w-auto">
                            <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                        </span>
                    </div>        
                    <!-- Forum home -->
                    
                    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                        {% for forum in forums %}
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <div class="media-body">
                                        <h3><a data-toggle="collapse" data-target=".forum-content" class="text-body" href="{{forum.get_url}}">{{forum.title}}</a></h3>
                                        <p class="text-secondary">{{forum.description}}</p>
                                        {% if forum.num_posts == 0 %}
                                            <p><strong>No post yet... </strong></p>
                                        {% else %}
                                            <p class="text-muted"><a href="{{forum.last_post.get_url}}">Last post</a> on <span class="text-secondary font-weight-bold">{{forum.last_post.date|date}}</span></p>
                                        {% endif %}
                                        <!-- <p><a href="{{forum.last_post.get_url}}">Last post</a></p> by <a href="">{{forum.last_post.user.fullname|title}}</a> on <small>{{forum.last_post.date|date}}</small> -->
                                    </div>
                                    <div class="text-muted small text-center align-self-top">
                                        <span class="d-none d-sm-inline-block"><i class="fa fa-pencil-square-o"  aria-hidden="true"></i>{{forum.num_posts}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /Forum home -->
                    
                </div>
                <!-- /Inner main -->
            </div>
        
            <!-- New Thread Modal -->
           
        </div>


        
        </div>
        <!--More-->
        
        
        
    </div>
    <!-- Forum Info -->
    <!-- <div class="forum-info">
        <div class="chart">
            MyForum - Stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <span><u>5,369</u> Posts in <u>48</u> Topics by <u>8,124</u> Members.</span><br>
        <span>Latest post: <b><a href="">Random post</a></b> on Dec 15 2021 By <a href="">RandomUser</a></span>.<br>
        <span>Check <a href="">the latest posts</a> .</span><br>
    </div>   -->
{% endblock %}

