{% extends 'root.html' %}
{% load crispy_forms_tags %}
{% load hitcount_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container">
    <div class="main-body p-0">
        <div class="inner-wrapper">
            <!-- Inner sidebar -->
            {% include 'components/sidebar.html' %}
            <!-- /Inner sidebar -->

            <!-- Inner main -->
            <div class="inner-main">
                <!-- Inner main header -->
                <div class="inner-main-header">
                    <div class="navigation">
                        <span><a href="{% url 'forum:home' %}">Subjects</a> / <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> / <a href="{{post.get_url}}">{{post.title}}</a></span>
                    </div>
                    <span class="input-icon input-icon-sm ml-auto w-auto">
                        <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                    </span>
                </div>
                <!-- /Inner main header -->

                <!-- Inner main body -->

                <!-- Forum Detail -->
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    <a href="{{post.categories.all.0.get_url}}" class="btn btn-light btn-sm mb-3 has-icon" data-toggle="collapse" data-target=".forum-content"><i class="fa fa-arrow-left mr-2"></i>Back</a>
                
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" width="50" alt="User" />
                                    <div class="text-muted small text-center align-self-center py-3">
                                        <span class="d-none d-sm-inline-block"><i class="fa fa-pencil-square-o"></i> {% get_hit_count for post %}</span>
                                        <span><i class="fa fa-rocket ml-2"></i> {{post.user.points}}</span>
                                    </div>
                                </a>
                                <div class="media-body ml-3">
                                    <a href="javascript:void(0)" class="text-secondary">{{post.user.fullname|title}}</a>
                                    <small class="text-muted ml-2">1 hour ago</small>
                                    <h5 class="mt-1">{{post.title}}</h5>
                                    <div class="mt-3 font-size-sm">
                                        <p>{{post.content|safe}}</p>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-12">
                            <div class="comments">
                                <div class="comments-details">
                                    <span class="total-comments comments-sort">Total Comment: {{totl_comment}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--  Share Comment Section -->
                    <div class="panel">
                        <div class="panel-body">
                          <form action="." method="POST">
                              {% csrf_token %}
                            <textarea name="comment" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                            <div class="mar-top clearfix py-2" >
                            <button class="btn btn-sm btn-primary pull-right" type="submit" value="submit" name="comment-form">
                                Share
                            </button>
                            <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                            </div>
                          </form>
                        </div>
                    </div>
                    <!--  /Share Comment Section -->

                    <!--Comment Area-->
                    {% for comment in post.comments.all %}
                    <div class="card mb-2" >
                        <div class="card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle" width="50" alt="User" />
                                    <small class="d-block text-center text-muted">Pro</small>
                                    <div class="text-muted small text-center align-self-center py-3">
                                        <span class="d-none d-sm-inline-block"><i class="fa fa-pencil-square-o"></i> {{comment.user.num_posts}}</span>
                                        <span><i class="fa fa-rocket ml-2"></i> {{comment.user.points}}</span>
                                    </div>
                                </a>
                                <div class="media-body ml-3">
                                    <a href="javascript:void(0)" class="text-secondary">{{comment.user.fullname|title}}</a>
                                    <small class="text-muted ml-2">1 hour ago</small>
                                    <div class="mt-3 font-size-sm">
                                        <p>{{comment.content}}</p>
                                    </div>
                                    
                                    <!--  Reply ON comment Sections -->
                                    <p><a class="text-muted" data-bs-toggle="collapse" href="#Coll{{comment.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        reply
                                      </a>
                                    </p>
                                    <div class="collapse" id="Coll{{comment.id}}">
                                        <div class="panel">
                                            <div class="panel-body">
                                            <form action="." method="POST">
                                                {% csrf_token %}
                                                <textarea name="reply" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                                                <div class="mar-top clearfix py-2" >
                                                <button class="btn btn-sm btn-primary pull-right" type="submit" value="submit" name="reply-form">
                                                    Reply
                                                </button>
                                                <input type="hidden" name="comment-id" value="{{ comment.id }}">
                                                <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                                                <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  /Reply  ON comment Sections -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Comment Area -->

                    <!-- Reply Area -->           
                    {% for reply in comment.replies.all %}
                    <div class="card mb-2" style="width: 95%; margin-left:5%;">
                        <div class="card-body">
                            <div class="media forum-item">
                                <a href="javascript:void(0)" class="card-link">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle" width="50" alt="User" />
                                    <small class="d-block text-center text-muted">Pro</small>
                                    <div class="text-muted small text-center align-self-center py-3">
                                        <span class="d-none d-sm-inline-block"><i class="fa fa-pencil-square-o"></i> {{reply.user.num_posts}}</span>
                                        <span><i class="fa fa-rocket ml-2"></i> {{reply.user.points}}</span>
                                    </div>
                                </a>
                                <div class="media-body ml-3">
                                    <a href="javascript:void(0)" class="text-secondary">{{reply.user.fullname|title}}</a>
                                    <small class="text-muted ml-2">1 hour ago</small>
                                    <div class="mt-3 font-size-sm">
                                        <p>{{reply.content}}</p>
                                    </div>
                                    
                                    <!--  Reply ON reply Sections -->
                                    <!-- <p><a class="text-muted" data-bs-toggle="collapse" href="#collR{{ reply.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          reply
                                        </a>
                                    </p>
                                    <div class="collapse" id="collR{{ reply.id }}">
                                        <div class="panel">
                                            <div class="panel-body">
                                            <form action="." method="POST">
                                                {% csrf_token %}
                                                <textarea name="comment" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                                                <div class="mar-top clearfix py-2" >
                                                <button class="btn btn-sm btn-primary pull-right" type="submit" value="submit" name="comment-form">
                                                    Reply
                                                </button>
                                                <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                                                <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    <!-- /Reply Area -->           



                    <!-- pagination -->
                </div>
                <!-- /Forum Detail -->
            </div>
            <!-- /Inner main -->
        </div>
        <!-- /Inner wrapper -->
    
    </div>
</div>
{% endblock content %}	