<!-- Inner sidebar -->
<div class="inner-sidebar">
    <!-- Inner sidebar header -->
    {% if posts %}
        {% include 'components/sidebar_inner_new_post.html' %}
    {% elif post %}
        {% include 'components/sidebar_inner_new_post.html' %}
    {% else %}
        {% include 'components/sidebar_inner_new_subject.html' %}    
    {% endif %}
    <!-- /Inner sidebar header -->
    
    <!-- Inner sidebar body -->
    <div class="inner-sidebar-body p-0">
        <div class="p-3 h-100" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: -16px;">
                <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 16px;">
                                <hr>
                                <p style="font-family:'Gill Sans', sans-serif ;font-size: 1.5rem;text-align: center;">DEPARTMENTS</p>
                                <hr>
                                <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                    {% for dept in departments %}
                                    <a href="{% url 'forum:dept_filter' dept.id %}" class="nav-link nav-link-faded has-icon" 
                                        style="font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">
                                        {{ dept.title }}
                                    </a>
                                    {% endfor %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
            </div>
            
        </div>
    </div>
    <!-- /Inner sidebar body -->
</div>  

